[Unit]
Description=Host monitoring and maintenance
After=network.target auditd.service


[Service]
ExecStart=screen -DmS host_monitor bash -c "cd /root/host_monitor; python3 -i monitor.py; exec bash"
ExecStop=bash -c "cd /root/host_monitor/; ./tgadm.py 'host_monitor stopped by systemd service'"
KillMode=mixed
Type=simple

[Install]
WantedBy=multi-user.target

